@charset "utf-8";
/* CSS Document */
/*calendario INDEX*/

#calendar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font: normal 12px;
    text-align: right;
    vertical-align: center;
    display: inline-block;
}

 
#calendar h2 {
    margin: auto 0 10px;
    line-height: 20px;
    width: 100%;
    background: #fff;
    color: #91CD2E;   
    font-size: 18px;
    text-align: center;
    vertical-align: center;
}
#calendar h2 a {
    display: inline-block;
    color: #91CD2E;     
}

#clear{
    clear: both;
}

.dia {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 14.2857142857%;
    font: bold 11px/20px ;
    color: #fff;
    margin: 0 0px 5px 0px;
    border-left:1px #91CD2E solid;
    border-right:1px #91CD2E solid;
    text-align: center;
    vertical-align: center;
    font-size: 13px;
}
.celdas, .today a, .celdas, .today a:link, .today a:visited {
    width: 13.6057142857%;
    height: 41px;
    padding: 1px;
    margin: 1px;
    float: left;
    color: #333;
    background: #fff;
    border: solid #91CD2E 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.event{
    background: #91CD2E;
    border: solid #fff 2px;
    color: #fff;
}
.event > a{
    color:#fff; 
}
.today a{
    background: #F4882F;
}
.celdas   {
    text-decoration: none;
    font-size: 12px;
    display: block;
}
.celdas  a {
    text-decoration: none;
    display: block;
    position: relative;
}

.event a img {
    width: 90%;
    position: absolute;
    top:-10px;
    left:0px;
}
.event a img:hover{
    width: 95 %;
}

