@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'maven_problack';
    src: url('fonts/mavenpro-black-webfont.eot');
    src: url('fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-black-webfont.woff') format('woff'),
         url('fonts/mavenpro-black-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-black-webfont.svg#maven_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_probold';
    src: url('fonts/mavenpro-bold-webfont.eot');
    src: url('fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-bold-webfont.woff') format('woff'),
         url('fonts/mavenpro-bold-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_promedium';
    src: url('fonts/mavenpro-medium-webfont.eot');
    src: url('fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-medium-webfont.woff') format('woff'),
         url('fonts/mavenpro-medium-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
border:0;
margin:0;
padding:0;
}
body{
    font-family: 'maven_promedium',;
    background: #fff;
    color: #333;
}
.ie7 body{
    overflow:hidden;
}

h1, h2{
    font-family: 'maven_probold';
    font-style: normal;
    font-weight:normal;
}
h3, h4, h5, h6{
    font-family: 'maven_probold';
    font-weight:normal;
}
a {
    color : #1a1a1a;
    text-decoration : none;
}

ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
p{
   color:#000;
}
abbr,acronym { border:0;
}
 /*header*/

#cabecera{
    z-index:10;
    width: 1024px;
    height: 60px;
    background: #fff;
    margin: 0;
    border-bottom: solid 5px #91CD2E;
}
#logo-grupo{
    z-index: 5;
    width: 1024px;
    height: 60px;
    position: relative;
}

#logoasu{
    width: 180px;
    height: 180px;
    position: absolute; 
    top:5px;
    z-index: 10;
    right: 20px
}


#logocult {
    position: absolute;
    left:80px;
    z-index: 10;
    background: #fff;
    border-radius: 0 0 15px 15px;
    border-bottom: solid 2px #333;
}
#logocult img{

}
#logoasu :hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
}



#inicio{
    font-family: 'maven_probold';
    font-size: 12px;
    color: #ccc;
    position: absolute;
    bottom: 0;
    right: 210px;
}
#inicio a {
    color: #999;
}
#inicio a:hover{
    color: #666;
}
#inicio a strong{
    color: #666;
    font-style:inherit;
}
#inicio a >strong:hover{
    color:#91cd2e;
}


/***************botones sociales*******************************************************/

#nav-social {
    width: 45px;
    height: 100px;
    position: fixed;
    right:20px;
    top:80px;
    display:inline-block;
}
#nav-social a {
    text-decoration:none;
    display:block;
}

#nav-social li {
    min-width: 30px;
    min-height: 30px;
    margin: 4px 2px;
    text-align: center;
    position: relative;
    list-style: none;
    border-radius:10px 10px 10px 10px;
    text-align: center;
}


#nav-social .current a, #nav-social li:hover > a {
    background: #ddd;
    border-radius:5px 5px 5px 5px;
    box-shadow:0 2px 2px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
/**********************contenidos*****************************************/
#contenido{
    margin: 20px auto 0 auto;
    width: 1024px;
    padding: 0;
    background: #fff;
    box-shadow:0 -2px 4px rgba(0,0,0, .7);
    -moz-box-shadow:0 -2px 4px rgba(0,0,0, .7);
    -webkit-box-shadow:0 -2px 4px rgba(0,0,0, .7);

}   

#banner{
    z-index: 1;
    width: 1024px;
    height:400px; 
 
}

#banner:after{
    position: absolute;
    top: 105px;
    z-index: 2;
    width: 1024px;
    height:400px; 
   content: '';
    background: transparent url(../imagenes/bsg.png) repeat top left; 
}

#nav-logos {
    width: 1024px;
    position: absolute;
    display:inline-block;
    top: 470px;
    z-index: 15;
}
#nav-logos a {
    text-decoration:none;
    display:block;

}
#nav-logos img {
   width: 130px;
   height: auto;
   margin: auto;
}

#nav-logos li {
    width: 20%;
    height: 91px;
    float: left;
    list-style: none;
    text-align: center;
    background: url(../imagenes/fongo-logos2.png) center center;
}

#nav-logos .current a, #nav-logos li:hover > a {
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
}



 
/**********************AGENDA*****************************/

#central{
    position: relative;
    margin: 70px 0 0 -20px;
    width: 1064px;
    min-height: 300px;
    display: inline-block;

}
#derecha{
    font-family: 'maven_promedium',;
    box-sizing: border-box;
    width: 60%;
    min-height: 300px;
    float: left;
}

.titulo{   
    box-sizing: border-box;
    padding: 3px 30px 0 30px; 
    height: 50px;
    font-family: 'maven_probold';
    font-size: 27px;
    background: url(../imagenes/T-bg.png) no-repeat;
    background-size: 100% 100% ;
    background-position: bottom;
}

.titulo2{
    height: 50px;
    font-family: 'maven_probold';
    font-size: 27px;
    background: url(../imagenes/T-bg2.png) no-repeat;
    background-size: 100% 100% ;
    background-position: bottom;
    }
.titulo2 h1{
    font-size: 24px;
    font-style: normal;
}
    


#cont-central{
    margin: 20px;
    margin: 0 auto;
    background: #fff;
}

#agenda{
    width: 100%;
    min-height: 30px;
    padding-bottom:25px; 
    border-right: solid 1px #91CD2E;
}
#agenda .titulo{   
    width: 200px;
    position: relative;

}

    
.nota{
    font-family: 'maven_promedium';
    box-sizing: border-box;
    min-height: 170px;
    width:607px;
    margin: 0px 0px 0 25px;
    padding:10px 15px 15px 0;
    font-family: 'maven_promedium';
    font-size: .9em;  
    line-height: 18px;
    border-bottom: solid 1px #91CD2E;


}

#cont-central .nota{

    width: 980px;
    margin: 15px 10px 0 30px;
}



#cont-nota h3{
    color: #91CD2E;
    margin: 5px 0px 0 20px;
    padding: 3px 15px;
    background: #333;
    font-size:24px;
}
.nota h2 {
    margin: 0px 7px 5px 7px;
}
.nota h2 a{
    color: #333;
    line-height: 24px;
    font-size:22px;
}
.nota h2 a:hover{
    color: #81BD1E;
    text-decoration:underline;
}
.nota h4{
    display: inline-block;
    margin: 5px 13px;
    color: #81BD1E;
    font-size:14px;

}

.nota span{
    display: block;
    margin: 10px 10px 5px 10px;
}

.nota span a{
    margin: 5px 3px;
    padding: 2px 3px;
    background: #eee;
    color:#333;
    line-height: 5px
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #91CD2E;
    font-size: 13px;
}

.nota span a:hover{
    background: #91CD2E;
}
.nota p{
    font-size: 16px;
    font-family: 'maven_promedium';
    margin: 3px 20px 3px 20px;
}

.nota a{
    color: #7c2;
  
}
.nota img{
    display: block;
    float: left;
    margin: 0 5px 5px 5px;
}

.ampliacion-nota {
    margin: 15px 0px 0 20px;
    
}

#cont-nota .ampliacion-nota h3{
   padding: 3px 5px;
    color: #91CD2E;
    margin: 0 5px 5px 5px;
    line-height: 24px;
    font-size:24px;
}

.ampliacion-nota h2{
    color: #91CD2E;
    margin: 0px 0px 10px 0;
    padding: 3px 15px;
    background: #333;
    font-size:24px;
     line-height: 24px;
}
.ampliacion-nota h2 a:hover{
    color: #004000;
}

.ampliacion-nota h4{
    color: #91CD2E;
    margin: 10px 0;
    padding: 3px 15px;
    font-size:16px;
    line-height: 24px;

}


.ampliacion-nota span{
    font-family: 'maven_promedium';
    width: 150px;
    margin-left: 30px;
    margin: 5px 10px;

}

.ampliacion-nota span a{
    font-size: 12px;
    width: 100%;
    margin: 0 3px;
    padding: 2px 3px;
    background: #eee;
    color:#333;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #91CD2E;
}

.ampliacion-nota span a:hover{
    background: #91CD2E;
    color: #333;
}
.ampliacion-nota p{
    font-family: 'maven_promedium';
    margin: 5px 35px 3px 35px;
    font-size: 16px;
    line-height: 24px;

}

.ampliacion-nota a{
    font-size: 16px;
    color: #7c2;
}
.ampliacion-nota a:hover{
    color: #f90;

}
.ampliacion-nota img{
    width: 70%;
    left: 15%;
    text-align: center;
    position:relative;
    margin: 15px auto;
}






/********************* CALENDRIO ***********************************************/

#izquierda{
    right: 0;
    font-family: 'maven_promedium';
    width: 406px;
    min-height: 400px;
    text-align: right;
    float: right;

   
}

#izquierda .titulo2{   
    box-sizing: border-box;
    padding: 3px 25px 0 15px;
    position: absolute;
    top: 0;
    right: 0;

}

#izquierda h2, {
    color: #91CD2E;
    margin: 0px 30px 0 10px;
    padding: 3px 15px;
    background: #333;
    text-align: center;
}

#cal{
    margin: 60px 30px 0px 10px;
    text-align: center;
    padding: 0;
    z-index: 15;
}
#cal h2{
    color: #91CD2E;
    margin: 30px 0 5px 0 ;
}

/***************************************************************/
#menu-temas {
    width: 100%;
    height: 133px;
}
#nav-temas {
    width: 344px;
    height: 88px;
    color: #91CD2E;
    display:inline-block;
    border: solid #91CD2E 1px;
}
#nav-temas li a {
    display:block;
    color: #000;
    padding-left: 20px;
}

#nav-temas li {
    border-top: solid #6D9A23 1px;
    border: solid #91CD2E 1px;
    width: 170px;
    height: 20px;
    float: left;
    position: relative;
    list-style: none;
    text-align: left;
}


#nav-temas .current a, #nav-temas li:hover > a {
    background: #fff;
    box-shadow:0 2px 2px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
/**************************************************************************************/

#enlaces{
    margin: 50px 0px 0px 0px;

}
#enlaces .titulo2{
    box-sizing: border-box;
    padding: 3px 25px 0 15px;
    position: absolute;
    top: 620px;
    right: 0;
    font-size: 22px;
}

#menu-enlaces {
    width: 367px;
}
#nav-enlaces {
    color: #91CD2E;
    display:inline-block;
    border: solid #91CD2E 2px;

}
.sombra{
    margin: 0 25px 0 0 ;

}
#nav-enlaces {
    padding-top: 20px;
}
#nav-enlaces li a {
    text-decoration:inherit;
    display:block;
    padding: 0 0 0 10px;
    position: relative;
    color: #000;
}

#nav-enlaces li {
    width: 340px;
    height: 30px;
    position: relative;
    list-style: none;
    text-align: left;
}

 #nav-enlaces li:hover > a {
    background: #ccc;
    box-shadow:0 2px 2px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}

/******************************************************************/
#pie{

    width: 100%;
    height: 100px;
    z-index: -10;
    background: #333;
} 
