@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'maven_problack';
    src: url('fonts/mavenpro-black-webfont.eot');
    src: url('fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-black-webfont.woff') format('woff'),
         url('fonts/mavenpro-black-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-black-webfont.svg#maven_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_probold';
    src: url('fonts/mavenpro-bold-webfont.eot');
    src: url('fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-bold-webfont.woff') format('woff'),
         url('fonts/mavenpro-bold-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_promedium';
    src: url('fonts/mavenpro-medium-webfont.eot');
    src: url('fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-medium-webfont.woff') format('woff'),
         url('fonts/mavenpro-medium-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
border:0;
margin:0;
padding:0;
}
body{
    font-family: 'maven_promedium',;
    background: #666;
    color: #333;
}
.ie7 body{
    overflow:hidden;
}

h1, h2{
    font-family: 'maven_probold';
    font-style: normal;
    font-weight:normal;
}
h3, h4, h5, h6{
    font-family: 'maven_probold';
    font-weight:normal;
}
a {
    color : #1a1a1a;
    text-decoration : none;
}

ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
p{
   color:#333;
}
abbr,acronym { border:0;
}
 /*header*/

#cabecera{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: solid 5px #91CD2E;
    z-index: 10;
    -webkit-box-shadow: 5px 0 10px #444;
    -moz-box-shadow: 5px 0 10px #444;
    box-shadow: 5px 0 10px #444;
}
#logo-grupo {
    width : 1024px;
    position : relative;
    margin: 0 auto;

}
#logoasu {
    z-index : 10;
    position : absolute;
    top : 10px;
    left :40px;

}
#logoasu img{
    width: 80px;
}
#logoasurohayhu {
    z-index : 10;
    position : absolute;
    top : 30px;
    left :130px;

}
#logoasurohayhu img{
    width: 180px;
}
#logocult {
    z-index : 10;
    position : absolute;
    right: 110px;
    top : 15px;
}
#logocult img{
    width: 160px;
    margin: 0 auto;
}
#logoasu :hover {
transform : scale(1.1);
}
#logocult :hover {
transform : scale(1.1);
}



/***************botones sociales*******************************************************/

#nav-social {
    width: 260px;
    position: relative;
    left: 20px;
    z-index: 20;
    display:inline-block;
    text-align: center;
}
#nav-social a {
    text-decoration:none;
    display:block;
}
#nav-social ul {
    display: inline-block;
    width: 300px;
}
#nav-social li {
    margin: 4px 2px;
    position: relative;
    list-style: none;
    border-radius:10px 10px 10px 10px;
    display: inline-block;
}
#nav-social li a img{
    width: 45px;
}


#nav-social .current a, #nav-social li:hover > a {
    background: #91CD2E;
    border-radius:5px 5px 5px 5px;
    box-shadow:0 2px 2px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
}

/**********************contenidos*****************************************/
#contenido{
    margin: 0 auto;
	min-height: 500px;
    width: 1024px;
    padding: 0;
    background: #fff;
    box-shadow:0 -2px 7px rgba(0,0,0, .7);
    -moz-box-shadow:0 -2px 7px rgba(0,0,0, .7);
    -webkit-box-shadow:0 -2px 7px rgba(0,0,0, .7);

}   

#banner{
    position: relative;
    width: 1024px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    background: #444;
    border-bottom: 3px #91CD2E solid;
 
}

/*#banner:after{
    position: absolute;
    top: 125px;
    z-index: 2;
    width: 1024px;
    height:400px; 
   content: '';
    background: transparent url(../imagenes/bsg.png) repeat top left; 
}*/

#menu-Logos {
    margin: 0px auto;
    color:#91CD2E;
    border-radius: 5px;
    display: block;
    text-align: center;
    
}
#menu-Logos img {
    width: 138px;
}
#nav-logos {
    display:inline-block;
    z-index: 5;
    text-align: center;
}
#nav-logos a {
    text-decoration:none;
    display:block;
    
}

#nav-logos h2{
    font-family: 'maven_probold';
    font-size: 24px;
    margin: 0 auto;
    color: #91CD2E;
    text-align: center;
}
#nav-logos .logoentidad {
    box-sizing: border-box; 
    width: 160px;
    height: 92px;
    display: inline-block;
    margin: 7px;
    border-radius: 5px;
    list-style: none;
    text-align: center;

}
#nav-logos .logoentidad a{
    width: 100%;
    height: 100%;
}
.TeatroMunicipal{
    background: url(../imagenes/BG-TeatroMunicipal.png);
    overflow: hidden;
    background-position: 0 100px;
}
.TeatroMunicipal:hover{
    background-position: 0 0px;
    border: 1px #444 solid;
    border-radius: 15px;
    
}
.InstitutoMunicipalDeArte{
    background: url(../imagenes/BG-IMA.png);
    overflow: hidden;
    background-position: 0 100px;
}
.InstitutoMunicipalDeArte:hover{
    background-position: 0 0px;
    border: 1px #444 solid;
    border-radius: 15px;
    
}
.ManzanaDeLaRivera{
    background: url(../imagenes/BG-Manzana.png);
    overflow: hidden;
    background-position: 0 100px;
}
.ManzanaDeLaRivera:hover{
    background-position: 0 0px;
    border: 1px #444 solid;
    border-radius: 15px;
    
}
.CentroParaguayoJapones{
    background: url(../imagenes/BG-CPJ.png);
    overflow: hidden;
    background-position: 0 100px;
}
.CentroParaguayoJapones:hover{
    background-position: 0 0px;
    border: 1px #444 solid;
    border-radius: 15px;
    
}
.DierccionDeAccionCulturalYTurismo{
    background: url(../imagenes/BG-DACT.png);
    overflow: hidden;
    background-position: 0 100px;
}
.DierccionDeAccionCulturalYTurismo:hover{
    background-position: 0 0px;
    border: 1px #444 solid;
    border-radius: 15px;
    
}




#inicio{
    font-family: 'maven_probold';
    font-size: 11px;
    color: #ccc;
    position: absolute;
    bottom: 0;
    right: 210px;
}
#inicio a {
    color: #999;
}
#inicio a strong{
    color: #666;
    font-style:inherit;
}
#inicio a >strong:hover{
    color:#91cd2e;
}

 
/**********************AGENDA*****************************/


#central{
    position: relative;
    margin: 20px 0 0 -20px;
    width: 1064px;
    min-height: 300px;
    display: inline-block;

    
    
}

#central .titulo{   
    box-sizing: border-box;
    position: absolute; 
    padding: 3px 30px 0 30px; 
    height: 50px;
    font-size: 22px;
    background: url(../imagenes/T-bg.png) no-repeat;
    background-size: 100% 100% ;
    background-position: bottom;
}

#central .titulo2{   
    box-sizing: border-box;
    padding: 3px 30px 0 30px; 
    height: 50px;
    font-size: 24px;
    background: url(../imagenes/T-bg2.png) no-repeat;
    background-size: 100% 100% ;
    background-position: bottom;

}

/***************************************************************/

#cont-central{
    width: 1024px;
    background: #fff;
    position: static;
    top: 60px;
    margin: 60px auto 0px auto;
    padding: 0 0 30px 0;

    
}

/********** MENU de la ENTIDAD **********************************************/
#menu-inst {
    font-family: 'maven_probold';
    text-align: center;
    margin: 0px 0px 0 0px;
    z-index: 10;
}
#nav-inst .col-2{
    width: 50%;
}
#nav-inst .col-3{
    width: 33.3333333333%;
}
#nav-inst .col-4{
    width: 25%;
}
#nav-inst .col-5{
    width: 20%;
}
#nav-inst .col-6{
    width: 16.6666666667%;
}
#nav-inst .col-7{
    width: 14.2857142857%;
}

#nav-inst * {
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#nav-inst ul {
    display: none;
    z-index: 10;
}

#nav-inst li:hover > ul {
    display: block;
    z-index: 10;
}

#nav-inst {
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px; 
    list-style: none;
    position: relative;
    display: inline-block;

}

#nav-inst:after {
    content: ""; 
    clear: both; 
    display: block;

}

#nav-inst li {
    background: #E6E6E6;
    text-align: center;
    float: left;
    line-height: 30px;
    border-bottom: solid 2px #91CD2E;
}

#nav-inst li a {
    font-family: 'maven_probold';
    display: block; 
    color: #333; 
    padding: 3px 0;
    text-decoration: none;
}

#nav-inst li:hover , #nav-inst li:active{
    background: #91CD2E;

}

#nav-inst ul {
    border-radius: 0px; 
    padding: 0;
    position: absolute; 
    top: 100%;
}

#nav-inst ul li {
    min-width: 100px;
    background: #ccc;
    float: none; 
    position: relative;
    text-align: left;
    border:solid 1px #d2d2d2;
    border-top: 1px solid #c2c2c2;

}

#nav-inst ul li a {
    height: 30px;
    padding: 10px 10px 0 10px;
    color: #333;
}   

#nav-inst ul li a:hover {
    background: #444;
    color:#91CD2E;
}

#nav-inst ul ul {
    position: absolute; 
    padding: 0;
    left: 100%; 
    top:0;
    border: 0;
}
#nav-inst ul ul li a{
    padding: 10px;
    min-width: 130px;
}
/***************************************************************/
#botones-entidad *{
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#botones-entidad{
    font-family: 'maven_probold';
    width: 310px;
    height: 800px;
    margin: 25px 0 0 -10px;
    display: inline-block;
    vertical-align: top;
    border-right: solid 1px #91CD2E; 
}
#botones-entidad-nav li ul{
    display: none;  
}
#botones-entidad-nav li{
    min-height: 50px;
}


#botones-entidad-nav li:hover > ul {
    display: block;
    z-index: 10;
}

#botones-entidad-nav {
    display:inline-block;
}
#botones-entidad-nav  a {
    box-sizing: border-box;
    font-family: 'maven_promedium';
    font-size: 17px;
    height: 40px;
    padding: 8px 0;
    color: #91CD2E;
    text-decoration:none;
    display:block;

}

#botones-entidad-nav > li {
    width:  290px;
    margin-bottom: 10px; 
    background: url(../imagenes/boton-bg.png) no-repeat;
    /*background-position: 0 0;*/
    background-size: 100%;
    list-style: none;
    text-align: center;
}

#botones-entidad-nav li ul li {
    width:  250px;
    margin: 15px; 
    background-size: 100%;
    list-style: none;
    text-align: center;
}
#botones-entidad-nav li ul li a{
    color: #333;

}
#botones-entidad-nav li ul li a:hover{
    color: #91CD2E;
    background: #333;

}


#botones-entidad-nav .current a, #botones-entidad-nav>li:hover > a {
    background: #91CD2E;
    color:#fff;
}
/**************************************************************************************/
#cont-nota{
    box-sizing: border-box;
    width: 650px;
    margin: 25px 0 0 30px;
    padding: 0px 0 10px 0;
    display: inline-block;
    vertical-align: top;
    background: #91CD2E;
    border-radius: 10px;
    
}

.nota{
    box-sizing: border-box;
    width:650px;
    min-height: 220px;
    border-bottom:solid #A7D758 1px;
    border-top:solid #6D9A23 1px;
    padding: 10px 5px 5px 5px;
    color: #333;
    line-height: 18px;
    font-family: 'maven_promedium';
    display: inline-block;
}


#cont-nota h3{
    padding: 15px 7px 5px 7px;
    color:#91CD2E;
    background: #333;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;

}
.nota h2{
    font-size: 20px;
    margin: 5px 20px;
    font-style: none;
    color:#333;
}
.nota h2 a:hover{
    color:#666;
}
.nota h4{
    font-size: 14px;
    margin: 5px 20px;
    font-style: none;
    color:#333;
}
.nota span{
    width: 150px;
    margin: 5px 20px;
}

.nota span a{
    font-size: 12px;
    margin: 3px 5px 3px 0px ;
    padding: 2px 3px;
    background: #ddd;
    color:#333;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #91CD2E;
}
.nota span a:hover{
    background: #333;
    color:#ddd;
}

.nota p{
    font-family: 'maven_promedium';
    margin: 5px 30px 3px 30px;
    font-size: 16px;
    line-height: 24px;
}
.nota a:hover{
    color: #91CD2E;
}
.nota img{
    display: block;
    float: left;
    width: 160px;
    margin: 0 5px 5px 5px;
}

#iconos{
    width:100%;
    display:inline-block; 
    text-align: center;
}
#iconos.icono{
    float: left;
    margin: 5px 2px;
    padding: auto;
    text-align: center;
}


.ampliacion-nota {
    margin: 0;
    
}

.ampliacion-nota h3{
     padding: 3px 5px 3px 0;
    color: #91CD2E;
    margin: 5px ;
    font-size:24px;
}

.ampliacion-nota h2{
    color: #91CD2E;
    margin: 0 0 10px 0;
    padding: 3px 15px;
    background: #333;
    font-size:24px;
     line-height: 24px;
}
.ampliacion-nota h2 a:hover{
    color: #004000;
}

.ampliacion-nota h4{
    color: #333;
    margin: 10px 0;
    padding: 3px 26px;
    font-size:16px;
     line-height: 24px;
}


.ampliacion-nota span{
    font-family: 'maven_promedium';
    width: 150px;
    margin: 5px 20px;

}

.ampliacion-nota span a{
    font-size: 12px;
    width: 100%;
    margin: 0 3px;
    padding: 2px 3px;
    background: #eee;
    color:#333;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #91CD2E;
}

.ampliacion-nota span a:hover{
    background: #333;
    color: #91CD2E;
}
.ampliacion-nota p{
    font-family: 'maven_promedium';
    margin: 5px 35px 3px 35px;
    font-size: 16px;
    line-height: 24px;

}

.ampliacion-nota a{
    font-size: 16px;
    color: #7c2;
}
.ampliacion-nota a:hover{
    color: #f90;

}
.ampliacion-nota img{
    width: 70%;
    left: 15%;
    text-align: center;
    position:relative;
    margin: 15px auto;
}


/*********************************** INFO **************************/
#cont-info{
    box-sizing: border-box;
    width: 720px;
    margin: 10px 0 25px -3px;
    padding: 15px 0 10px 0;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border-radius: 10px;
}

.info{
    box-sizing: border-box;
    width:100%;
    min-height: 170px;
    border-top:solid #6D9A23 1px;
    color: #333;
    line-height: 18px;
    padding-bottom:50px;
    font-family: 'maven_promedium';
}


.info h3{
    padding: 8px 20px 8px 20px;
    color:#91CD2E;
    background: #333;
    font-size: 20px;

}
.info h2{
    line-height: 24px;
    font-size: 20px;
    margin: 10px 30px 5px 30px;
    font-style: none;
    color:#91CD2E;

}
.info span{
    width: 150px;
}

.info span a{
    font-size: 10px;
    margin:3px;
    padding: 2px 3px;
    background: #ddd;
    color:#333;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #91CD2E;
}
.info span a:hover{
    background: #333;
    color:#ddd;
}

.info p{
    position: relative;
    font-family: 'maven_promedium';
    margin: 5px 40px 20px 40px;
    font-size: 16px;
    color: #444;
    line-height: 22px;

}
.info a:hover{
    color: #039;
}
.info .central{
    display: block;
    width: 80%;
    margin: 15px auto;
    padding: 0 10px;
    text-align: center;
}
.info .lateral{
    display: block;
    width: 40%;
    margin: 10px auto;
    padding: 0 7px;
    right: 0;
    float: right;
}
#iconos{
    width: 
}
#iconos .icono{
    padding: 0 3px;
    display: inline-block;
    margin: 7px;
    padding: auto;
    text-align: center;
}
#iconos .icono img{
    margin: 0px;
    width: 60px;
    height: 60px;
}
#iconos .icono p{
    color: #91CD2E;
    margin: 0;
    font-family: 'maven_probold';


}
#iconos .icono:hover{
    box-shadow: 0px 0px 4px 2px #91CD2E;
    background: #eee;
    color: #000;
}


/*********************************** CAL **************************/

#cal{
    font-family: 'maven_promedium';
    margin: 2px 25px 0px 25px;
    text-align: center;
    padding: 0;
    z-index: 9999;
}
#cal h2{
    color: #91CD2E;
    margin: 30px 0 5px 0 ;
}

.hovercal * {
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.hovercal {
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    z-index: 10;
    font-family: 'maven_promedium';

 }


.hovercal li {
    position: relative;
    display:inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:225px;
    height: 50px;
    overflow: hidden;
    text-align: right;

}
.hovercal li .titulo2{
    min-width: 50px;
    display:inline-block;
    background: #333;
} 

.hovercal li div a {
    display: inline;
    margin: 0 3px;
    font-size: 12px;
 }

.hovercal div a:hover {
    color: #333;
}
.hovercal li:hover {
    width:415px;
    height: 450px;
    background: #fff;
    -moz-box-shadow: -1px 1px 3px #555;
    -webkit-box-shadow: -1px 1px 3px #555;
    box-shadow: -1px 1px 3px #555;

}



/******************************************************************/
footer{
    width: 100%;
    background: #333;
    border-bottom: 5px #91CD2E solid; 
    position: relative;
}
#nav-logos .logoentidad{
    text-align: center;
    position: relative;
}
#nav-logos .logoentidad .icono{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    opacity: .0;
}
#nav-logos .logoentidad:hover >.icono{
    opacity: .5;
}
#nav-logos .logoentidad .icono:hover{
    opacity: 1;
}
#nav-logos .logoentidad .icono a img{
    width: 100%
}

footer:after{
    content: "";
    background: #333;
    border-top: 5px #91CD2E solid; 
    position: absolute;
    top: -100px;
    z-index: -10;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    left: 0;
}