@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'maven_problack';
    src: url('fonts/mavenpro-black-webfont.eot');
    src: url('fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-black-webfont.woff') format('woff'),
         url('fonts/mavenpro-black-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-black-webfont.svg#maven_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_probold';
    src: url('fonts/mavenpro-bold-webfont.eot');
    src: url('fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-bold-webfont.woff') format('woff'),
         url('fonts/mavenpro-bold-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_promedium';
    src: url('fonts/mavenpro-medium-webfont.eot');
    src: url('fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-medium-webfont.woff') format('woff'),
         url('fonts/mavenpro-medium-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
border:0;
margin:0;
padding:0;
}
body{
    font-family: 'maven_promedium',;
    background: #efefef;
    color: #333;
}
.ie7 body{
    overflow:hidden;
}

h1, h2{
    font-family: 'maven_probold';
    font-style: normal;
    font-weight:normal;
}
h3, h4, h5, h6{
    font-family: 'maven_probold';
    font-weight:normal;
}
a {
    color : #1a1a1a;
    text-decoration : none;
}

ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
p{
   color:#000;
}
abbr,acronym { border:0;
}
 /*header*/

#cabecera{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: solid 5px #91CD2E;
    z-index: 10;
    -webkit-box-shadow: 5px 0 10px #444;
    -moz-box-shadow: 5px 0 10px #444;
    box-shadow: 5px 0 10px #444;
}
#logo-grupo {
    width : 1024px;
    position : relative;
    margin: 0 auto;

}
#logoasu {
    z-index : 10;
    position : absolute;
    top : 10px;
    left :40px;

}
#logoasu img{
    width: 80px;
}
#logoasurohayhu {
    z-index : 10;
    position : absolute;
    top : 30px;
    left :130px;

}
#logoasurohayhu img{
    width: 180px;
}
#logocult {
    z-index : 10;
    position : absolute;
    right: 110px;
    top : 15px;
}
#logocult img{
    width: 160px;
    margin: 0 auto;
}
#logoasu :hover {
transform : scale(1.1);
}
#logocult :hover {
transform : scale(1.1);
}


/***************botones sociales*******************************************************/

#nav-social {
    width: 45px;
    height: 100px;
    position: fixed;
    right:20px;
    top:80px;
    display:inline-block;
}
#nav-social a {
    text-decoration:none;
    display:block;
}

#nav-social li {
    min-width: 30px;
    min-height: 30px;
    margin: 4px 2px;
    text-align: center;
    position: relative;
    list-style: none;
    border-radius:10px 10px 10px 10px;
    text-align: center;
}


#nav-social .current a, #nav-social li:hover > a {
    background: #ddd;
    border-radius:5px 5px 5px 5px;
    box-shadow:0 2px 2px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
/**********************contenidos*****************************************/
#contenido{
    margin: 0px auto 0 auto;
    min-height: 500px;
    width: 1024px;
    padding: 0;
    background: #fff;
    z-index: -5;
    box-shadow:0 2px 4px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 4px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0, .7);

}   

#banner{
    position: relative;
    width: 1024px;
    margin: 0 auto 20px auto;
    background: #444;
    border-bottom: 1px #91CD2E solid;
 
}

/*#banner:after{
    position: absolute;
    top: 125px;
    z-index: 2;
    width: 1024px;
    height:400px; 
   content: '';
    background: transparent url(../imagenes/bsg.png) repeat top left; 
}*/

#menu-Logos {
    margin: 0px auto;
    color:#91CD2E;
    border-radius: 5px;
    display: block;
    text-align: center;
    
}
#menu-Logos img {
    width: 138px;
}
#nav-logos {
    display:inline-block;
    z-index: 5;
    text-align: center;
}
#nav-logos a {
    text-decoration:none;
    display:block;
    
}

#nav-logos h2{
    font-family: 'maven_probold';
    font-size: 24px;
    margin: 0 auto;
    color: #91CD2E;
    text-align: center;
}
#nav-logos li {
    box-sizing: border-box; 
    width: 160px;
    height: 92px;
    display: inline-block;
    margin: 7px;
    border-radius: 5px;
    list-style: none;
    text-align: center;

}
#nav-logos li a{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%) ;
}


#nav-logos .current a, #nav-logos li:hover > a {
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    border-radius:3px;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}


 
/**********************AGENDA*****************************/

#central{
    position: relative;
    margin: 5px 0 0 -20px;
    width: 1064px;
    min-height: 300px;
    display: inline-block;
    z-index: 10;
    top: 0;

}
#derecha{
    font-family: 'maven_promedium',;
    box-sizing: border-box;
    width: 60%;
    min-height: 300px;
    float: left;
}

.titulo{   
    box-sizing: border-box;
    padding: 3px 30px 0 30px; 
    height: 50px;
    font-family: 'maven_probold';
    font-size: 27px;
    background: url(../imagenes/T-bg.png) no-repeat;
    background-size: 100% 100% ;
    background-position: bottom;
}

.titulo2{
    height: 50px;
    font-family: 'maven_probold';
    font-size: 27px;
    background: url(../imagenes/T-bg2.png) no-repeat;
    background-size: 100% 100% ;
    background-position: bottom;
    }
.titulo2 h1{
    font-size: 24px;
    font-style: normal;
}
    


#cont-central{
    margin: 20px;
    margin: 0 auto;
    background: #fff;
}

#agenda{
    width: 100%;
    min-height: 30px;
    padding-bottom:25px; 
}
#agenda .titulo{   
    width: 200px;
    position: relative;

}

    
.nota{
    font-family: 'maven_promedium';
    box-sizing: border-box;
    min-height: 200px;
    width:607px;
    margin: 0px 0px 0 25px;
    padding:10px 15px 15px 0;
    font-family: 'maven_promedium';
    font-size: .9em;  
    line-height: 18px;
    border-bottom: solid 1px #91CD2E;


}

#cont-central .nota{
    width: 980px;
    margin: 15px 10px 0 30px;
}



#cont-nota h3{
    color: #91CD2E;
    margin: 5px 0px 0 20px;
    padding: 3px 15px;
    background: #444;
    font-size:24px;
}
.nota h2 {
    margin: 0px 7px 5px 7px;
}
.nota h2 a{
    color: #333;
    line-height: 24px;
    font-size:22px;
}
.nota h2 a:hover{
    color: #81BD1E;
    text-decoration:underline;
}
.nota h4{
    display: inline-block;
    margin: 5px 13px;
    color: #81BD1E;
    font-size:14px;

}

.nota span{
    display: block;
    margin: 10px 10px 5px 10px;
}

.nota span a{
    margin: 5px 3px;
    padding: 2px 3px;
    background: #eee;
    color:#333;
    line-height: 5px
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #91CD2E;
    font-size: 13px;
}

.nota span a:hover{
    background: #91CD2E;
}
.nota p{
    font-size: 16px;
    font-family: 'maven_promedium';
    margin: 3px 20px 3px 20px;
}

.nota a{
    color: #7c2;
  
}
.nota img{
    float: left;
    width: 160px;
    height: 180px;
    margin: 0 5px 5px 5px;
}

.ampliacion-nota {
    margin: 5px 0px 0 20px;
    
}

#cont-nota .ampliacion-nota h3{
   padding: 3px 5px;
    color: #91CD2E;
    margin: 0 5px 5px 5px;
    line-height: 24px;
    font-size:24px;
}

.ampliacion-nota h2{
    color: #91CD2E;
    margin: 0px 0px 10px 0;
    padding: 5px 15px;
    background: #444;
    font-size:24px;
     line-height: 24px;
}
.ampliacion-nota h2 a:hover{
    color: #004000;
}

.ampliacion-nota h4{
    color: #91CD2E;
    margin: 10px 0;
    padding: 3px 15px;
    font-size:16px;
     line-height: 24px;
}


.ampliacion-nota span{
    font-family: 'maven_promedium';
    width: 150px;
    margin-left: 30px;
    margin: 5px 10px;

}

.ampliacion-nota span a{
    font-size: 12px;
    width: 100%;
    margin: 0 3px;
    padding: 2px 3px;
    background: #eee;
    color:#333;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #91CD2E;
}

.ampliacion-nota span a:hover{
    background: #91CD2E;
    color: #333;
}
.ampliacion-nota p{
    font-family: 'maven_promedium';
    margin: 5px 35px 3px 35px;
    font-size: 16px;
    line-height: 24px;

}

.ampliacion-nota a{
    font-size: 16px;
    color: #7c2;
}
.ampliacion-nota a:hover{
    color: #f90;

}
.ampliacion-nota img{
    width: 70%;
    left: 15%;
    text-align: center;
    position:relative;
    margin: 15px auto;
}

/********************* CALENDRIO ***********************************************/

#izquierda{
    right: 0;
    font-family: 'maven_promedium';
    width: 406px;
    min-height: 400px;
    text-align: right;
    float: right;

    border-left: solid 1px #91CD2E;

   
}

#izquierda .titulo2{   
    box-sizing: border-box;
    padding: 3px 25px 0 15px;
    position: absolute;
    top: 0;
    right: 0;

}

#izquierda h2, {
    color: #91CD2E;
    margin: 0px 30px 0 10px;
    padding: 3px 15px;
    background: #333;
    text-align: center;
}

#cal{
    margin: 55px 30px 0px 10px;
    text-align: center;
    padding: 0;
    z-index: 15;
}
#cal h2{
    color: #91CD2E;
    margin: 30px 0 5px 0 ;
}

/***************************************************************/
#menu-temas {
    width: 100%;
    height: 133px;
}
#nav-temas {
    color: #91CD2E;
    display:inline-block;
    border: solid #91CD2E 1px;
}
#nav-temas li a {
    display:block;
    color: #333;
    padding-left: 20px;
}

#nav-temas li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid #6D9A23 1px;
    border: solid #91CD2E 1px;
    width: 50%;
    height: 22px;
    float: left;
    list-style: none;
    text-align: left;
}


#nav-temas .current a, #nav-temas li:hover > a {
    background: #fff;
    box-shadow:0 2px 2px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
/**************************************************************************************/

#enlaces{
    margin: 50px 0px 0px 0px;
}
#enlaces .sombra{
    padding: 0px 25px 0 0px

}
#enlaces .titulo2{
    box-sizing: border-box;
    padding: 3px 25px 0 15px;
    position: absolute;
    top: 620px;
    right: 0;
    font-size: 22px;
}

#menu-enlaces {
    width: 367px;
}
#nav-enlaces {
    color: #91CD2E;
    display:inline-block;
    border: solid #91CD2E 2px;

}
.sombra{
    margin: 0 auto;

}
#nav-enlaces {
    padding-top: 20px;
}
#nav-enlaces li a {
    text-decoration:inherit;
    display:block;
    padding: 5px 0 5px 10px;
    position: relative;
    color: #333;
}

#nav-enlaces li {
    width: 340px;
    height: 30px;
    position: relative;
    list-style: none;
    text-align: left;
}

 #nav-enlaces li:hover {
    background: #ccc;
    box-shadow:0 2px 2px rgba(0,0,0, .7);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}

/******************************************************************/
footer{
    width: 100%;
    background: #444;
    border-bottom: 5px #91CD2E solid; 
    position: relative;
}


footer:after{
    content: "";
    background: #444;
    border-top: 5px #91CD2E solid; 
    position: absolute;
    top: -100px;
    z-index: -10;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    left: 0;
}