@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'maven_problack';
    src: url('fonts/mavenpro-black-webfont.eot');
    src: url('fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-black-webfont.woff') format('woff'),
         url('fonts/mavenpro-black-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-black-webfont.svg#maven_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_probold';
    src: url('fonts/mavenpro-bold-webfont.eot');
    src: url('fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-bold-webfont.woff') format('woff'),
         url('fonts/mavenpro-bold-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'maven_promedium';
    src: url('fonts/mavenpro-medium-webfont.eot');
    src: url('fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenpro-medium-webfont.woff') format('woff'),
         url('fonts/mavenpro-medium-webfont.ttf') format('truetype'),
         url('fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
border:0;
margin:0;
padding:0;
}
body {
    font-family: 'maven_promedium';
    margin: 0 auto;
    background: #ccc;
    background-size: 100%;
    background-repeat: no-repeat;
}
h1, h2{
    font-family: 'maven_probold';
    font-style: normal;
}
h3, h4, h5, h6{
    font-family: 'maven_probold';
}
a {
    color : #1a1a1a;
    text-decoration : none;
}


#cabecera {
    min-width: 100%;
    height: 100px;
    margin: 0px auto 0 auto;
    background: #fff;    
    padding: 0 0 0 0;
    position: relative;
    border-bottom : 5px solid #91CD2E;
    -webkit-box-shadow: 5px 0 10px #252525;
    -moz-box-shadow: 5px 0 10px #252525;
    box-shadow: 5px 0 10px #252525;
}

#logo-grupo {
    width : 1024px;
    position : relative;
    margin: 0 auto;

}
#logoasu {
    z-index : 10;
    position : absolute;
    top : 10px;
    left :40px;

}
#logoasu img{
    width: 80px;
}
#logoasurohayhu {
    z-index : 10;
    position : absolute;
    top : 30px;
    left :130px;

}
#logoasurohayhu img{
    width: 180px;
}
#logocult {
    z-index : 10;
    position : absolute;
    right: 60px;
    top : 15px;
}
#logocult img{
    width: 160px;
    margin: 0 auto;
}
#logoasu :hover {
transform : scale(1.1);
}
#logocult :hover {
transform : scale(1.1);
}
#clima{
    height: 40px;
    position: absolute;
    right: 300px;
    top: 30px;
}
#clima:before{
    position: absolute;
    bottom: 0px
    right: 300px;
    background: #000;
    content:" ";
    z-index: 99999999999;
    height: 30px;

}

/***************botones sociales*******************************************************/


#nav-social {
    position : absolute;
    top:105px;
    right :65px;
    display : inline-block;
    z-index: 20;
}
#nav-social a {
    text-decoration : none;
    display : block;
}
#nav-social li {
    width : 30px;
    height : 30px;
    float : left;
    margin : 0px 4px;
    position : relative;
    list-style : none;
    text-align : center;
    background: #ddd;
    border-radius : 0px 0px 5px 5px;
}
#nav-social li:hover > a {
    padding-top: 3px;
    background : #91cd2e;
    border-radius : 0px 0px 5px 5px;
    box-shadow : 0 2px 2px rgba(0, 0, 0, 0.7);
}
#nav-social li a img {
    width: 30px;
}

#banner{
    width: 1024px;
    height:400px; 
    margin: 0 auto ;
    border-left: 5px #91CD2E solid;
    border-right: 5px #91CD2E solid;
    border-bottom: 5px #91CD2E solid;
    border-radius: 0 0 5px 5px;
}

/*#banner:before{
    position: absolute;
    top: 105px;
    z-index: 2;
    width: 1024px;
    height:400px; 
    content: '';
    background: transparent url(../imagenes/bsg.png) repeat top left; 
}
*/
.amazingslider-thumbnails{
    position: relative;
    top:80px;
}
/************************************ CONTENIDO ***********/
#contenido {
    position: relative;
    margin: 0px auto 0 auto;
    width : 1024px;
    padding : 0;
    vertical-align: top;
}
#borde{
    position: relative;
    content: "";
    width: 100%;
    margin: 0;
    border-top: 5px solid #91CD2E;
}
#con-izq{
    width: 360px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 3px 0 7px;

}
#hoy{
    margin:0 auto;
    padding: 0px 0 15px 0;
    border-radius: 5px;
    background: #91CD2E;
    border: 1px #999 solid;
}
#hoy h2{
    
    color:#91CD2E;
    background: #252525;
    padding: 15px 30px 5px 20px;
    border-radius: 5px 5px 0 0;
}



#Enlaces-interes{
    margin: 20px 0;
    height: 40px;
    border-radius: 5px;
    background: #91CD2E;
    padding:0 0 5px 0;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: 1px #999 solid;
    overflow: hidden;
    
}
#Enlaces-interes:hover{
    height: 400px; 
    margin: 20px 0;
    border-radius: 5px;
    background: #91CD2E;
    padding:0 0 5px 0;
    
}
#Enlaces-interes h2{
    color:#91CD2E;
    background: #252525;
    border-radius: 5px 5px 0 0;
    font-family: 'maven_probold';
    padding: 5px 0 5px 30px;
}
#Enlaces-interes li{   
    list-style : none;
    padding-left: 2%;
    padding-top: 5px;
    min-height: 20px;
    vertical-align: middle;
    
}

.Enl-int{
    border-bottom:solid #A7D758 1px;
    border-top:solid #6D9A23 1px;

    
}
.Enl-int:before{
    color: #666;
    content: "-";
    background: url(../imagenes/vinheta.png) no-repeat;
    background-position: center;

}
.Enl-int a{
    
    list-style : none;
    text-decoration : none;
    padding: 2px;
}
.Enl-int:hover{
    background: #91DD2E;   
}
.nota{
    width: 319px;
    padding: 10px;
    border-bottom:solid #A7D758 1px;
    border-top:solid #6D9A23 1px;
    color: #333;
    display: inline-block;
}
.nota a{
    text-decoration: none;
    color: #333;
}
.nota h3 a{
    text-decoration: none;
    color: #fff;
}
.nota h3 a:hover{
    text-decoration: none;
    color: #666;
}
.nota span{
    margin: 7px 0;
    display: block;
}

.nota span a{
    font-size: 12px;
    padding: 2px 3px;
    background: #91DD2E;
    color:#333;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #9D2;
}
.nota span a:hover{
    background: #555;
    color:#ddd;
}
.nota h4{
    margin:7px 0;
    color: #333;
    font-size:13px;
    display: block;
}
.nota p{
    font-size:16px;
    margin: 5px 5px 5px 10px;
}
.nota img{
    width: 120px;
    margin: 5px 8px 0 0;
    background: #ddd;
    float: left;
}


/******************************derecha**************************/
#col-der{
    width: 646px;
    min-height: 300px;
    display: inline-block;
    position: relative;
}

#calendario{
    width: 303px;
    text-align: center;
    margin: 15px 10px 10px 5px ;
    color:#91CD2E;
    background: #252525;
    border-radius: 5px;
    padding: 5px 0;
    border: solid 1px #666;
    display: inline-block;
    vertical-align: top;
    border: 1px #999 solid;

}
#calendario h1{
    margin-bottom: 5px;
    font-size: 22px;
}


#menu-temas {
    width: 303px;
    margin: 15px 5px 10px 10px ;
    text-align:center;
    border: 1px #ddd solid;
    border-radius: 5px;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #91CD2E;
    padding:0;
    display: inline-block;
    vertical-align: top;
    border: 1px #999 solid;
}


#menu-temas > h2{
    font-family: 'maven_probold';
    font-size: 22px;
    line-height: 30px;
    width: 100%;
    color: #91CD2E;
    padding: 5px auto;
    display: block;
    background: #252525;
    border-radius: 5px 5px 0 0;

}

#nav-temas {
    width:100%;
    color: #252525;
    display:inline-block;
    font-size: 14px;
}

#nav-temas li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:50%;
    float: left;
    margin: 12px 0 12px 0px;
    padding: 2px 0  2px 10px ;
    position: relative;
    text-align: left;
    text-decoration: none;
    list-style:none;
    line-height: 10px;

}
#nav-temas li a {
    text-decoration:none;
    display:block;
    color: #333;
    font-size: 15px;
    list-style: none;
}
#nav-temas li:before{
    color: #666;
    float: left;
    margin: 0 5px 0 0;
    content: " ";
    width: 1em;
    height: .7em;
    background: url(../imagenes/vinheta.png) no-repeat;
    background-position: center;

}
#nav-temas .current a, #nav-temas a:hover {
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
    font-size: 16px;
    color:#252525;
}

#menu-Logos {
    margin: 0px auto;
    color:#91CD2E;
    border-radius: 5px;
    display: block;
    text-align: center;
    
}
#menu-Logos img {
    width: 138px;
}
#nav-logos {
    display:inline-block;
    z-index: 5;
    text-align: center;
}
#nav-logos a {
    text-decoration:none;
    display:block;
    
}

#nav-logos h2{
    font-family: 'maven_probold';
    font-size: 24px;
    margin: 0 auto;
    color: #91CD2E;
    text-align: center;
}
#nav-logos .logoentidad {
    box-sizing: border-box; 
    width: 160px;
    height: 100px;
    display: inline-block;
    margin: 7px;
    border-radius: 5px;
    list-style: none;
    text-align: center;

}
#nav-logos .logoentidad a{
    width: 100%;
    height: 100%;
}
.TeatroMunicipal{
    background: url(../imagenes/BG-TeatroMunicipal.png);
    overflow: hidden;
    background-position: 0 100px;
}
.TeatroMunicipal:hover{
    background-position: 0 0px;
    border: 1px #252525 solid;
    border-radius: 15px;
    
}
.InstitutoMunicipalDeArte{
    background: url(../imagenes/BG-IMA.png);
    overflow: hidden;
    background-position: 0 100px;
}
.InstitutoMunicipalDeArte:hover{
    background-position: 0 0px;
    border: 1px #252525 solid;
    border-radius: 15px;
    
}
.ManzanaDeLaRivera{
    background: url(../imagenes/BG-Manzana.png);
    overflow: hidden;
    background-position: 0 100px;
}
.ManzanaDeLaRivera:hover{
    background-position: 0 0px;
    border: 1px #252525 solid;
    border-radius: 15px;
    
}
.CentroParaguayoJapones{
    background: url(../imagenes/BG-CPJ.png);
    overflow: hidden;
    background-position: 0 100px;
}
.CentroParaguayoJapones:hover{
    background-position: 0 0px;
    border: 1px #252525 solid;
    border-radius: 15px;
    
}
.DierccionDeAccionCulturalYTurismo{
    background: url(../imagenes/BG-DACT.png);
    overflow: hidden;
    background-position: 0 100px;
}
.DierccionDeAccionCulturalYTurismo:hover{
    background-position: 0 0px;
    border: 1px #252525 solid;
    border-radius: 15px;
    
}



.form{
    font-family: 'maven_probold';
    font-size:14px;
    text-align: center;
    width: 520px;
    margin: 0 auto;
}
.form .name{
    margin-left: 40px;
}
.form .name input, .form .email input{ 
    font-family: 'maven_promedium';
    font-size: 14px;
    margin: 15px 10px 10px 10px;
    padding:0 2px;
    text-align: center;
    outline: 0;
    width: 146px;
    height: 25px;
    border: solid 1px #eee;
    border-radius: 5px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    float: left;
    }


.form input:hover, .form input:focus{ 
    border-color: #fc3; 
    -webkit-box-shadow: #fc3 0px 0px 8px;
    }

.submit input {
    font-family: 'maven_probold';
    font-size: 12px;
    text-align: center;
    width: 60px;
    height: 25px;
    padding: 0 auto;
    margin: 15px 10px 10px 10px;
    background: #ccc;
    border: 0;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
.submit input:hover, .submit input:hover:focus{
    color:#333;
    background: #999;
    }


#Turismo{
    padding: 15px 0;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 7px;
    color:#91CD2E;
    background: #252525;
}


footer{
    width: 100%;
    background: #333;
    border-top: 5px #91CD2E solid; 
    border-bottom: 5px #91CD2E solid; 
}
#nav-logos .logoentidad{
    text-align: center;
    position: relative;
}
#nav-logos .logoentidad .icono{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    opacity: .0;
}
#nav-logos .logoentidad:hover >.icono{
    opacity: .5;
}
#nav-logos .logoentidad .icono:hover{
    opacity: 1;
}
#nav-logos .logoentidad .icono a img{
    width: 100%
}

#cuadros{
    margin: 10px 7px 0px 7px;
    display: inline-block;
    position: relative;
}
.puerta{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border: 1px #999 solid;
    border-radius: 5px;
}
.puerta img{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #789;
    position: relative;
    border-radius: 5px;
}
.puerta img:after{
    position: absolute;
    border: blue blue transparent transparent;
    content: " ";
    z-index: 99;
}
figcaption{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    background: #252525;
    color: #e1e1e1;
    border-radius: 5px;
    font-size: 24px;
}
figcaption a{
    color: #91CD2E;
}
figcaption a:hover{
    color: #1e1e1e;
}
.x{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    width: 410.666666667px;
    height: 245px;
}
.y{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    width: 200.333333333px;
    height: 500px;
}
.x figcaption{
    width: 40%;
    height: 100%;
    padding-top:80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.y figcaption{
    height: 40%;
    width: 100%;
    padding-top:60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.x img{
    width: 60%;
}
.y img{
    height: 60%;
}
.R{float: right;}
.L{float: left;}

